{
    "server":"0.0.0.0",
    "server_port":{{ SHADOWSOCKS_PORT }},
    "password":"{{ SHADOWSOCKS_PASSWORD }}",
    "method": "{{ SHADOWSOCKS_METHOD | default('aes-256-cfb') }}",
    "fast_open":true,
    "timeout": {{ SHADOWSOCKS_TIMEOUT | default(60) }}
}
